<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>0</TotalTime><Application>LibreOffice/6.2.8.2$Linux_X86_64 LibreOffice_project/f82ddfca21ebc1e222a662a32b25c0c9d20169ee</Application><Pages>1</Pages><Words>48</Words><CharactersWithSpaces>490</CharactersWithSpaces><Paragraphs>27</Paragraphs></Properties>